In [1]:
import pandas as pd

### Load dataset (EPL 2021-2022)

In [3]:
epl = pd.read_csv("2021-2022.csv")
epl

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,13/08/2021,20:00,Brentford,Arsenal,2,0,H,1,0,...,1.62,0.50,1.75,2.05,1.81,2.13,2.05,2.17,1.80,2.09
1,E0,14/08/2021,12:30,Man United,Leeds,5,1,H,1,0,...,2.25,-1.00,2.05,1.75,2.17,1.77,2.19,1.93,2.10,1.79
2,E0,14/08/2021,15:00,Burnley,Brighton,1,2,A,1,0,...,1.62,0.25,1.79,2.15,1.81,2.14,1.82,2.19,1.79,2.12
3,E0,14/08/2021,15:00,Chelsea,Crystal Palace,3,0,H,2,0,...,1.94,-1.50,2.05,1.75,2.12,1.81,2.16,1.93,2.06,1.82
4,E0,14/08/2021,15:00,Everton,Southampton,3,1,H,0,1,...,1.67,-0.50,2.05,1.88,2.05,1.88,2.08,1.90,2.03,1.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,22/05/2022,16:00,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
376,E0,22/05/2022,16:00,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
377,E0,22/05/2022,16:00,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
378,E0,22/05/2022,16:00,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
379,E0,22/05/2022,16:00,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

#### EDA: Check&clean the missing data print(df[df.isnull().sum()])

In [9]:
df = pd.DataFrame(epl)
df.isnull().sum()

Div         0
Date        0
Time        0
HomeTeam    0
AwayTeam    0
           ..
PCAHA       0
MaxCAHH     0
MaxCAHA     0
AvgCAHH     0
AvgCAHA     0
Length: 106, dtype: int64

In [6]:
print(sum(epl.isnull().sum()))

13

#### Print description of each HomeTeam's FTHG

In [11]:
df.groupby('HomeTeam')['FTHG'].describe()

                count      mean       std  min  25%  50%  75%  max
HomeTeam
Arsenal          19.0  1.842105  1.258887  0.0  1.0  2.0  2.5  5.0
Aston Villa      19.0  1.526316  1.073334  0.0  1.0  1.0  2.0  4.0
Brentford        19.0  1.157895  1.014515  0.0  0.0  1.0  2.0  3.0
Brighton         19.0  1.000000  1.201850  0.0  0.0  1.0  2.0  4.0
Burnley          19.0  0.947368  1.078769  0.0  0.0  1.0  1.0  3.0
Chelsea          19.0  1.947368  1.508262  0.0  1.0  2.0  2.5  7.0
Crystal Palace   19.0  1.421053  1.070607  0.0  1.0  1.0  2.0  3.0
Everton          19.0  1.421053  1.121298  0.0  0.5  1.0  2.0  3.0
Leeds            19.0  1.000000  0.881917  0.0  0.0  1.0  1.5  3.0
Leicester        19.0  1.789474  1.436777  0.0  1.0  2.0  2.5  4.0
Liverpool        19.0  2.578947  1.304513  1.0  2.0  2.0  3.0  6.0
Man City         19.0  3.052632  2.013115  0.0  2.0  3.0  5.0  7.0
Man United       19.0  1.684211  1.529438  0.0  0.5  1.0  3.0  5.0
Newcastle        19.0  1.368421  0.895081  0.0  1.0  1.0  2.0  3.0
Norwich          19.0  0.631579  0.760886  0.0  0.0  0.0  1.0  2.0
Southampton      19.0  1.210526  0.917663  0.0  1.0  1.0  1.5  4.0
Tottenham        19.0  2.000000  1.527525  0.0  1.0  2.0  3.0  5.0
Watford          19.0  0.894737  1.100239  0.0  0.0  1.0  1.0  4.0
West Ham         19.0  1.736842  0.871914  1.0  1.0  2.0  2.0  4.0
Wolves           19.0  1.052632  1.223551  0.0  0.0  1.0  2.0  4.0

### Simple stats 3 questions

##### 1. the average number , min and max of each HomeTeam's FTHG

In [16]:
 df.groupby('HomeTeam').FTHG.agg(['mean','min','max'])

                    mean  min  max
HomeTeam
Arsenal         1.842105    0    5
Aston Villa     1.526316    0    4
Brentford       1.157895    0    3
Brighton        1.000000    0    4
Burnley         0.947368    0    3
Chelsea         1.947368    0    7
Crystal Palace  1.421053    0    3
Everton         1.421053    0    3
Leeds           1.000000    0    3
Leicester       1.789474    0    4
Liverpool       2.578947    1    6
Man City        3.052632    0    7
Man United      1.684211    0    5
Newcastle       1.368421    0    3
Norwich         0.631579    0    2
Southampton     1.210526    0    4
Tottenham       2.000000    0    5
Watford         0.894737    0    4
West Ham        1.736842    1    4
Wolves          1.052632    0    4

#### 2) the average number , min and max of each AwayTeam's FTAG

In [17]:
 df.groupby('AwayTeam').FTAG.agg(['mean','min','max'])

                    mean  min  max
AwayTeam
Arsenal         1.368421    0    5
Aston Villa     1.210526    0    3
Brentford       1.368421    0    4
Brighton        1.210526    0    3
Burnley         0.842105    0    3
Chelsea         2.052632    0    6
Crystal Palace  1.210526    0    4
Everton         0.842105    0    2
Leeds           1.210526    0    3
Leicester       1.473684    0    5
Liverpool       2.368421    0    5
Man City        2.157895    0    5
Man United      1.315789    0    4
Newcastle       0.947368    0    3
Norwich         0.578947    0    3
Southampton     1.052632    0    3
Tottenham       1.631579    0    5
Watford         0.894737    0    5
West Ham        1.421053    0    4
Wolves          0.947368    0    3

#### 3) คะแนนเฉลี่ยของ HomeTeam และ AwayTeam มีความแตกต่างกันเท่าไหร่

In [19]:
average_home_goals = df['FTHG'].mean()
average_away_goals = df['FTAG'].mean()

goal_difference = abs(average_home_goals - average_away_goals)

print(f"Average number of HomeTeam: {average_home_goals}")
print(f"Average number of AwayTeam: {average_away_goals}")
print(f"Difference: {goal_difference}")

Average number of HomeTeam: 1.513157894736842
Average number of AwayTeam: 1.305263157894737
Difference: 0.20789473684210513

### Advanced 2 question

### สัดส่วนการชนะของ HomeTeam และ AwayTeam

In [23]:
df['Result'] = 'Draw'  # สมมติว่าเริ่มต้นทั้งหมดเป็นการเสมอ
df.loc[df['FTR'] == 'H', 'Result'] = 'Home Win'  # ทีมเจ้าบ้านชนะ
df.loc[df['FTR'] == 'A', 'Result'] = 'Away Win'  # ทีมเยือนชนะ

# นับจำนวนการชนะ
home_wins = df[df['Result'] == 'Home Win'].shape[0]
away_wins = df[df['Result'] == 'Away Win'].shape[0]

# คำนวณสัดส่วนการชนะ
total_matches = df.shape[0]
home_win_percentage = (home_wins / total_matches) * 100
away_win_percentage = (away_wins / total_matches) * 100


print(f'Home Win: {home_win_percentage:.2f}%')
print(f'Away Win: {away_win_percentage:.2f}%')

Home Win: 42.89%
Away Win: 33.95%

### วิเคราะห์ความสัมพันธ์ระหว่าง FTHG และ HST ว่าความสัมพันธ์นี้เป็นเชิงบวกหรือลบ?

In [35]:
import numpy as np
correlation_coefficient = np.corrcoef(df['FTHG'], df['HST'])[0, 1]
print(f"Correlation Coefficient between FTHG and HST: {correlation_coefficient}")

Correlation Coefficient between FTHG and HR: 0.6360857968515041